<p id="notice"><%= notice %></p>

<h1>Sortables</h1>

<div class="d-flex flex-row justify-content-between">
  <div class="col-4 px-0 shadow" data-controller="drag" data-drag-url="/sortables/:id/move">
    <% @sortables.each do |sortable| %>
      <div class="d-flex flex-row justify-content-around border-bottom border-dark" data-id="<%= sortable.id %>">
        <%= sortable.position %>
        <%= link_to 'Show', sortable %>
        <%= link_to 'Edit', edit_sortable_path(sortable) %>
        <%= link_to 'Destroy', sortable, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>


<%= link_to 'New Sortable', new_sortable_path %>
